[package]
name = "psn_api_rs"
version = "0.1.1"
authors = ["fakeshadow <24548779@qq.com>"]
edition = "2018"
description = "A simple PSN Network API wrapper"
keywords = ["game", "playstation", "psn"]
license = "MIT"
exclude = ["example/*"]
repository = "https://github.com/fakeshadow/psn_api_rs"
readme= "README.md"

[lib]
name = "psn_api_rs"
path = "src/lib.rs"

[features]
default = []
client = ["awc"]

[dependencies]
awc = { version ="0.2.4", features = ["rust-tls"] , optional = true}
derive_more = "0.14.1"
futures = "0.1.28"
rand = "0.7.0"
serde = "1.0.98"
serde_derive = "1.0.98"
serde_json = "1.0.40"

[dev-dependencies]
tokio = "0.1.22"